<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<header>
  <h1>Medium Stories</h1>
</header>
<body>
  <a href="/" class="previous round">&#8249;</a>
    <div class="container">
        <div class="articles">
          <div class="author">
            <img src="../image/THe ghost and the boy.jpg" alt="Sticking the Landing">
            <h2>The ghost and the boy</h2>
            <p>Timmy was scared of everything.</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknown</span>
            </div>
          </div>

          <div class="author">
            <img src="../image/Rapunzel.jpg" alt="Sticking the Landing">
            <h2>Rapunzel</h2>
            <p>A beautiful princess is trapped in a tower by a wicked witch. A brave prince, drawn by her enchanting voice, sets out to rescue her. But their journey is filled with twists and turns, and their love is put to the ultimate test.</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>

          <div class="author">
            <img src="../image/pinocchio-story.jpg" alt="Sticking the Landing">
            <h2>Pinocchio</h2>
            <p>A lonely carpenter named Geppetto carves a wooden boy named Pinocchio. But this wooden boy has a secret… He can talk! Join Pinocchio on his wild adventures as he learns about friendship, honesty, and becoming a real boy.</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>

          <div class="author">
            <img src="../image/the-tortoise-and-the-haire.jpg" alt="Sticking the Landing">
            <h2>THe Tortoise and the Haire</h2>
            <p>
              The Hare always mocks Tortoise because he is really slow. But which one will win in an actual competition?</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>

          <div class="author">
            <img src="../image/Hellen-Keller.jpg" alt="Sticking the Landing">
            <h2>Helen Keller</h2>
            <p>Join Helen Keller on a journey of courage and hope, where she learns to overcome challenges and inspire others.</p>
            <a href="#" class="read-more" onclick="toggleReadMore(event)">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>

          <div class="author">
            <img src="../image/Stella-and-the-sun.jpg" alt="Sticking the Landing">
            <h2>Stella and the Sun</h2>
            <p>
              Meet Stella, a little adventurer who dreams of touching the sun! Join her on a magical journey to the mountaintop, where she discovers the importance of the sun’s warmth and light.</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>

          <div class="author">
            <img src="../image/Grown-ups-language.jpg" alt="Sticking the Landing">
            <h2>Grown ups' Language!</h2>
            <p>Meet Jack, a curious six-year-old who’s learning the strange language of grown-ups. It’s his birthday, and he’s determined to make sense of their mysterious words and actions.</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>
        </body>
        </html>

