<!-- story-details.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <header>
        <%stories.forEach(stories => { %>
        <h1><%= stories.title %></h1>
        <p><strong>Author:</strong> <%= stories.author %></p>
    </header>
    
    <section class="story-detail-content">
        <p><%= stories.content %></p> <!-- Story content from database -->
    </section>
    <div class="slideshow-container">
        <div class="mySlides fade">
            
            <img src="../image/ stories.image url %>" alt="Story Image 1">
        </div>
        <%}) %>
        <!-- Add more slides if necessary -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    

    <footer>
        <a href="/">Back to Home</a>
    </footer>
</body>
</html>
